.img1 {
    height: 250px;
    margin-left: 93%;
    margin-top: -10%;
}

.img2 {
    height: 150px;
    margin-left: 60%;
    margin-top: -15%;
}

.img3 {
    height: 150px;
    margin-left: 45%;
    margin-top: -10%;
}

.img4 {
    height: 300px;
    width: 600px;
    margin-top: -5%;
    margin-left: 45%;
}